<ion-content [fullscreen]="true">
  <div class="top-bar" lines="none">
    <ion-grid>
      <ion-row class="bar">
        <ion-col size="12">
          <h1>Chat <ion-badge>2</ion-badge></h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-searchbar placeholder="Search"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="path/to/image1.jpg" alt=""/>
        </ion-avatar>
        <ion-label>
          <h2>Isekai.shop</h2>
          <p>Temukan produk special di toko kami</p>
        </ion-label>
        <div class="notification-badge">2</div>
      </ion-item>
  
      <ion-item>
        <ion-avatar slot="start">
          <img src="path/to/image2.jpg" alt=""/>
        </ion-avatar>
        <ion-label>
          <h2>Cecep.Shoes</h2>
          <p>Voucher 6.6 sudah menunggumu!</p>
        </ion-label>
        <div class="notification-badge">1</div>
      </ion-item>
    </ion-list>
  </ion-content> -->
  
</ion-content>