<ion-content [fullscreen]="true" class="background">
  <div class="profile-header">
    <ion-avatar>
      <img [src]="userService.user.avatar" alt="" />
    </ion-avatar>
    <div class="profile-info">
      <h2>To Receive</h2>
      <p>My Orders</p>
    </div>
    <div class="icon-profile">
      <div class="profile-icons">
        <div class="icon-wrapper">
          <ion-icon name="menu-outline"></ion-icon>
        </div>
        <div class="icon-wrapper" [routerLink]="'/voucher'">
          <ion-icon name="pricetag-outline"></ion-icon>
        </div>
        <div class="icon-wrapper" [routerLink]="'/profile-setting'">
          <ion-icon name="settings-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  
  <ion-list>
    <ion-item *ngFor="let order of orders">
      <div class="product-grid" [ngClass]="{
        'grid-1': order.checkout?.products?.length === 1,
        'grid-2': order.checkout?.products?.length === 2,
        'grid-3': order.checkout?.products?.length === 3,
        'grid-4': order.checkout?.products?.length === 4
      }">
        <ng-container *ngIf="order.checkout?.products?.length === 1">
          <div class="product-item single">
            <img [src]="'https://swiftyleshop.com/' + order.checkout.products[0]?.image" alt="Product Image" />
          </div>
        </ng-container>
        <ng-container *ngIf="order.checkout?.products?.length === 2">
          <div *ngFor="let product of order.checkout.products" class="product-item half">
            <img [src]="'https://swiftyleshop.com/' + product.image" alt="Product Image" />
          </div>
        </ng-container>
        <ng-container *ngIf="order.checkout?.products?.length === 3">
          <div *ngFor="let product of order.checkout.products.slice(0, 2)" class="product-item">
            <img [src]="'https://swiftyleshop.com/' + product.image" alt="Product Image" />
          </div>
          <div class="product-item wide">
            <img [src]="'https://swiftyleshop.com/' + order.checkout.products[2]?.image" alt="Product Image" />
          </div>
        </ng-container>
        <ng-container *ngIf="order.checkout?.products?.length === 4">
          <div *ngFor="let product of order.checkout.products" class="product-item">
            <img [src]="'https://swiftyleshop.com/' + product.image" alt="Product Image" />
          </div>
        </ng-container>
      </div>
      
      <ion-label>
        <h2>Order #{{order.id}}</h2>
        <p>{{order.checkout?.total_amount | currency: 'Rp'}}</p>
        <p style="font-weight: bold; font-size: 15px; color: black; margin-top: 10px;">
          {{order.status | uppercase}}
          <ion-icon *ngIf="order.status === 'delivered'" name="checkmark-circle" color="success"></ion-icon>
        </p>
      </ion-label>
      
      <div slot="end" class="item-info">
        <ion-badge color="light">{{order.checkout?.products?.length}} items</ion-badge>
        <ion-button *ngIf="order.status !== 'delivered'" routerLink="/track" style="--background: #E75C69;">Track</ion-button>
        <ion-button *ngIf="order.status === 'delivered'" class="review-button" fill="outline" (click)="openReviewModal(order)">Review</ion-button>
      </div>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="isReviewModalOpen" (ionModalDidDismiss)="closeReviewModal()" [breakpoints]="[0, 0.5, 1]" [initialBreakpoint]="0.5">
    <ng-template>
      <ion-content [fullscreen]="true" class="review-modal-content">
        <div class="modal-content ion-padding">
          <ion-title style="color: black; font-weight: 300;">Review</ion-title>
          <div class="review-container">
            
            <ion-item lines="none">
              <div class="product-grid-modal" [ngClass]="{
                'grid-1-modal': selectedOrder?.checkout?.products?.length === 1,
                'grid-2-modal': selectedOrder?.checkout?.products?.length === 2,
                'grid-3-modal': selectedOrder?.checkout?.products?.length === 3,
                'grid-4-modal': selectedOrder?.checkout?.products?.length === 4
              }">
                <ng-container *ngIf="selectedOrder?.checkout?.products?.length === 1">
                  <div class="product-item-modal single-modal">
                    <img [src]="'https://swiftyleshop.com/' + selectedOrder.checkout.products[0]?.image" alt="Product Image" />
                  </div>
                </ng-container>
                <ng-container *ngIf="selectedOrder?.checkout?.products?.length === 2">
                  <div *ngFor="let product of selectedOrder.checkout.products" class="product-item-modal half-modal">
                    <img [src]="'https://swiftyleshop.com/' + product.image" alt="Product Image" />
                  </div>
                </ng-container>
                <ng-container *ngIf="selectedOrder?.checkout?.products?.length === 3">
                  <div *ngFor="let product of selectedOrder.checkout.products.slice(0, 2)" class="product-item-modal">
                    <img [src]="'https://swiftyleshop.com/' + product.image" alt="Product Image" />
                  </div>
                  <div class="product-item-modal wide-modal">
                    <img [src]="'https://swiftyleshop.com/' + selectedOrder.checkout.products[2]?.image" alt="Product Image" />
                  </div>
                </ng-container>
                <ng-container *ngIf="selectedOrder?.checkout?.products?.length === 4">
                  <div *ngFor="let product of selectedOrder.checkout.products" class="product-item-modal">
                    <img [src]="'https://swiftyleshop.com/' + product.image" alt="Product Image" />
                  </div>
                </ng-container>
              </div>
              <ion-label>
                <h2>{{productNames}}</h2>
                <p>Order #{{selectedOrder?.id}}</p>
              </ion-label>
            </ion-item>
            
            <div class="stars">
              <ion-icon *ngFor="let star of starsArray; let i = index" name="star" [class.filled]="i < rating" (click)="setRating(i + 1)"></ion-icon>
            </div>
            
            <ion-textarea [(ngModel)]="comment" placeholder="Your comment"></ion-textarea>
            <ion-button expand="full" class="submit-button" (click)="submitReview()">Submit</ion-button>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
