<ion-content [fullscreen]="true">
  <div class="profile-header">
    <div class="profile-text">
      <ion-avatar>
        <img [src]="userService.user.avatar" alt="Profile Picture" />
      </ion-avatar>
      <div class="profile-info">
        <h2>{{ userService.user.email }}</h2>
        <p>Pengikut {{ userService.user.followers }} | Mengikuti {{ userService.user.following }}</p>
      </div>
      <div class="icon-profile">
        <div class="profile-icons">
          <div class="icon-wrapper">
            <ion-icon name="menu-outline"></ion-icon>
          </div>
          <div class="icon-wrapper" [routerLink]="'/voucher'">
            <ion-icon name="pricetag-outline"></ion-icon>
          </div>
          <div class="icon-wrapper" [routerLink]="'/profile-setting'">
            <ion-icon name="settings-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="welcome-container">
    <div class="welcome-message">
      <h1>Hello, {{ userService.user.name }}!</h1>
    </div>
  </div>
  <div class="ion-padding">
    <ion-card class="create-store-card">
      <ion-card-content>
        <div class="create-store-container">
          <p>Create Your Store Here</p>
          <ion-button fill="clear" class="arrow-button" [routerLink]="'/seller'">
            <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <h1>Recently viewed</h1>
    <ion-row>
      <ion-col>
        <ion-img src="assets/images/products/brown-jacket.png"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="assets/images/products/green-hoodie.png"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="assets/images/products/grey-tshirt.png"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="assets/images/products/pink-crowneck.png"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="assets/images/products/brown-jacket.png"></ion-img>
      </ion-col>
    </ion-row>
    <h1>My Orders</h1>
    <div class="shop-orders">
      <ion-chip color="secondary">To Pay</ion-chip>
      <ion-chip color="secondary" [routerLink]="'/order'">Order</ion-chip>
      <ion-chip color="secondary" (click)="goToReceivePage()">To Receive</ion-chip>
    </div>
    <ion-card class="create-store-card" routerLink="/history">
      <ion-card-content>
        <div class="create-store-container">
          <p>History</p>
          <ion-button fill="clear" class="arrow-button" [routerLink]="'/history'">
            <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>