<ion-content>
  <div class="login-container">
    <div class="title">
      <span>Login</span>
    </div>
    <div class="subtitle">
      <span>Good to see you back <ion-icon name="heart"></ion-icon></span>
    </div>
    <form>
      <ion-item class="input-item">
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-button expand="block" class="done-button" href="password">Next</ion-button>
      <div class="cancel-link">
        <a href="start">Cancel</a>
      </div>
    </form>
  </div>
</ion-content>