.header-toolbar {
    --background: #ffebeb;
    color: #fff;
  
    ion-title {
      font-size: 1.2em;
    }
  }
  
  ion-segment {
    margin: 10px;
    --background: #ffdede;
    --indicator-color: #e60000;
  
    ion-segment-button {
      --color-checked: #e60000;
      --color: #000;
      --background: #fff;
      --background-checked: #ffdede;
      border: 1px solid #e60000;
      border-radius: 5px;
      padding: 10px 15px;
      margin: 0 5px;
    }
  }
  
  .order-card {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
    ion-item {
      --background: #fff;
      border-radius: 10px;
  
      ion-avatar {
        img {
          border-radius: 10px;
          width: 40px;
          height: 40px;
        }
      }
  
      ion-thumbnail {
        img {
          border-radius: 10px;
        }
      }
  
      ion-label {
        h2 {
          font-size: 1.2em;
          margin: 0;
        }
        h3 {
          font-size: 1.1em;
          margin: 0;
        }
        p {
          margin: 5px 0;
          font-size: 0.9em;
        }
      }
    }
  
    ion-button {
      margin-top: 10px;
      --background: #fd7d7d;
    }
  }
  