<ion-content>
  <div class="container">
    <div class="content">
      <div class="title">
        <span>Create</span><br>
        <span>Account</span>
      </div>
      <div class="profile-pic" (click)="onProfilePicClick()">
        <img *ngIf="avatarUrl" [src]="avatarUrl" alt="Profile Picture" />
        <ion-icon *ngIf="!avatarUrl" name="camera-outline"></ion-icon>
      </div>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" hidden #fileInput />
      <form (ngSubmit)="onSubmit()">
        <ion-item class="input-item">
          <ion-input type="name" placeholder="Name" [(ngModel)]="name" name="name" required></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-input type="email" placeholder="Email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-input [type]="passwordType" placeholder="Password" [(ngModel)]="password" name="password" required></ion-input>
          <ion-icon slot="end" [name]="passwordIcon" (click)="togglePasswordVisibility()"></ion-icon>
        </ion-item>
        <ion-item class="input-item">
          <ion-input type="tel" placeholder="Your number" [(ngModel)]="phoneNumber" name="phoneNumber" required></ion-input>
        </ion-item>
        <ion-button expand="block" class="done-button" type="submit">Done</ion-button>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
        <div class="cancel-link">
          <a href="choose">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</ion-content>
