<ion-content [fullscreen]="true" class="ion-padding">
  <div class="petal petal1"></div>
  <div class="petal petal2"></div>
  <div class="petal petal3"></div>
  <div class="petal petal4"></div>
  <div class="petal petal5"></div>
  <div class="petal petal6"></div>
  <div class="petal petal7"></div>
  <div class="petal petal8"></div>
  <div class="petal petal9"></div>
  <div class="petal petal10"></div>
  <div class="petal petal11"></div>
  <div class="petal petal12"></div>

  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Swiftlyle Logo" />
    </div>
    <h1>Swiftyle</h1>
    <p class="subtitle">Grab your style as fast as you can</p>
    <ion-button expand="block" color="primary" class="get-started" href="choose">
      Let's get started
    </ion-button>
    <p class="login-link">
      <a href="login" routerLink="/login">I already have an account</a>
      <ion-icon name="arrow-forward-circle-outline"></ion-icon>
    </p>
  </div>
</ion-content>
