<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Swiftlyle Logo" />
    </div>
    <h1>Swiftlyle</h1>
    <p class="subtitle">Grab your style as fast as you can</p>
    <ion-button expand="block" color="primary" class="get-started" href="choose">
      Let's get started
    </ion-button>
    <p class="login-link">
      <a href="login" routerLink="/login">I already have an account</a>
      <ion-icon name="arrow-forward-circle-outline"></ion-icon>
    </p>
  </div>
</ion-content>