<ion-header>
  <ion-toolbar>
    <ion-title>Select Color</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-img src="path_to_color_image1"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img src="path_to_color_image2"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-img src="path_to_color_image3"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img src="path_to_color_image4"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
