<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Shipping Option</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item>
      <ion-label>Pilih Jasa Pengiriman</ion-label>
    </ion-item>
    <ion-radio-group [(ngModel)]="selectedShipping">
      <ion-item *ngFor="let option of shippingOptions">
        <ion-thumbnail slot="start">
          <img [src]="option.image" alt="">
        </ion-thumbnail>
        <ion-label>{{ option.name }}</ion-label>
        <ion-radio slot="end" [value]="option.name"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-footer>
    <ion-toolbar>
      <ion-button expand="block" (click)="apply()">Apply</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
