<ion-content [fullscreen]="true">
  <div class="top-bar" lines="none">
    <ion-grid>
      <ion-row class="bar">
        <ion-col size="12">
          <h1>Notification <ion-badge>0</ion-badge></h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="notification-container">
    <div class="promo-box">
      <ion-label>Promo Swiftyle</ion-label>
      <ion-icon name="chevron-forward-outline" class="promo-icon"></ion-icon>
    </div>
    <div class="section-title">Update Pesanan</div>
    <div class="notification-box">
      <ion-icon name="notifications-outline" class="icon"></ion-icon>
      <div class="notification-details">
        <div class="notification-title">Pesanan Selesai</div>
        <div class="notification-text">Pesanan 201932084944727 telah selesai.</div>
        <div class="notification-time">17-06-2024 13:22</div>
      </div>
      <ion-icon name="chevron-forward-outline" class="chevron-icon"></ion-icon>
    </div>
    <div class="notification-box">
      <ion-icon name="notifications-outline" class="icon"></ion-icon>
      <div class="notification-details">
        <div class="notification-title">Pesanan Selesai</div>
        <div class="notification-text">Pesanan COD 237942462732 telah dikonfirmasi.</div>
        <div class="notification-time">17-06-2024 13:22</div>
      </div>
      <ion-icon name="chevron-forward-outline" class="chevron-icon"></ion-icon>
    </div>
    <div class="notification-box">
      <ion-icon name="notifications-outline" class="icon"></ion-icon>
      <div class="notification-details">
        <div class="notification-title">Konfirmasi Penerimaan Pesanan</div>
        <div class="notification-text">Jika kamu belum menerima pesanan 237942462732, pastikan kamu sudah melakukan pengecekan ke keluarga/lingkungan sekitar. Jika produk tidak lengkap/rusak, kamu dapat mengajukan pengembalian dana.</div>
        <div class="notification-time">17-06-2024 13:22</div>
      </div>
      <ion-icon name="chevron-forward-outline" class="chevron-icon"></ion-icon>
    </div>
    <div class="notification-box">
      <ion-icon name="notifications-outline" class="icon"></ion-icon>
      <div class="notification-details">
        <div class="notification-title">Update Pengiriman Pesanan</div>
        <div class="notification-text">Estimasi tiba pesanan 237942462732 telah diperbarui dari 17-06-2024 menjadi 23-06-2024</div>
        <div class="notification-time">17-06-2024 13:22</div>
      </div>
      <ion-icon name="chevron-forward-outline" class="chevron-icon"></ion-icon>
    </div>
  </div>
</ion-content>
