<ion-content>
  <div class="container">
    <img src="assets/images/bg/password-recovery.png" class="background-image" alt="" />
    <div class="profile-pic">
      <img src="assets/images/profile/avatar-1.jpeg" alt="Profile Picture">
    </div>
    <h2>Make New Password</h2>
    <p>Please set up a new password for your account</p>
    <ion-item lines="none" class="custom-item">
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
    </ion-item>
    <ion-item lines="none" class="custom-item">
      <ion-label position="floating">Repeat Password</ion-label>
      <ion-input type="password" [(ngModel)]="repeatPassword"></ion-input>
    </ion-item>
    <ion-button expand="block" color="primary" (click)="resetPassword()">Next</ion-button>
    <div class="cancel-link">
      <a href="otp">Cancel</a>
    </div>
  </div>
</ion-content>