ion-content {
    --background: #ffffff;
    font-family: var(--font-family);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 20px;
        text-align: center;
        position: relative;

        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        .profile-pic {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            border: 8px solid #fff;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: auto;
            }
        }

        h2 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;
            margin-bottom: 20px;
        }

        .phone-number {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 20px;
        }

        ion-item.custom-item {
            --inner-padding-start: 0;
            --inner-padding-end: 0;
            --background: none;
            --ion-item-background: none;
            margin-bottom: 10px;
            border-radius: 8px;
            background-color: #f3f3f3;
            border: 1px solid transparent;
            width: 100%;
            max-width: 300px;

            ion-label {
                display: flex;
                align-items: center;
                font-size: 16px;
                padding-left: 10px;

                ion-icon {
                    margin-right: 10px;
                    color: #000;
                }
            }
        }


        ion-button {
            --border-radius: 10px;
            --background: #ff7eb3;
            --background-focused: #ff758c;
            --background-hover: #ff758c;
            --background-activated: #ff758c;
            width: 60%;
            max-width: 200px;
            height: 45px;
            margin-bottom: 10px;
        }

        .cancel-link {
            font-size: 14px;
            margin-top: 10px;

            a {
                color: #888;
                text-decoration: none;
            }
        }
    }
}