.profile-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    color: #E75C69;
    background: #E75C69;
}

.avatar-img img {
    border: 2px solid #ffffff;
    border-radius: 15px;
}

.square-avatar {
    width: 100px;
    height: 100px;
    margin-left: -12px;
    border-radius: 0;
    /* Make the avatar square */
}

.profile-info {
    flex-grow: 1;
    padding-left: 15px;
}

.profile-info h2 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
}

.profile-info p {
    margin: 0;
    color: #ffffff;
    font-size: 12px;
}

.profile-icons {
    margin-right: -5px;
    display: flex;
    gap: 10px;
}

.icon-wrapper {
    background-color: #F8F8F8;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-icons ion-icon {
    font-size: 20px;
    color: #E75C69;
}

.header-content {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

ion-title {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}

.custom-buttons {
    margin-top: 12px;
    display: flex;
    gap: 10px;
}

.custom-buttons ion-button {
    background: white;
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.custom-buttons ion-button ion-icon {
    color: #E75C69;
    font-size: 24px;
}

.custom-buttons ion-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(231, 84, 84, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.segment-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
    margin-top: 20px;
}

.custom-buttons {
    margin-top: 12px;
    display: flex;
    gap: 10px;
}

.custom-buttons ion-button {
    background: white;
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.custom-buttons ion-button ion-icon {
    color: #E75C69;
    font-size: 24px;
}

.custom-buttons ion-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(231, 84, 84, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.segment-buttons .narrow-button {
    flex: 1;
    margin: 0 4px;
    max-width: 150px;
    font-size: 12px;
    --border-radius: 20px;
    /* Adjust this value to make the buttons narrower or wider */
}

.segment-buttons .narrow-button:first-child {
    margin-left: 0;
}

.segment-buttons .narrow-button:last-child {
    margin-right: 0;
}

.header-section h2 {
    margin: 0;
    font-size: 1.5em;
}

.vouchers-section {
    padding: 16px;
}

.voucher-card {
    border: 2px solid #F2B8B8;
    border-radius: 10px;
    margin-bottom: 16px;
    position: relative;
    padding: 10px;
    overflow: hidden;
    background: white;
    height: 140px;
    /* Adjust the height as needed */
}

.voucher-card:before,
.voucher-card:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid #F2B8B8;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.voucher-card:before {
    left: -12px;
}

.voucher-card:after {
    right: -12px;
}

.voucher-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #E75C69;
    padding-bottom: 8px;
}

.voucher-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #E75C69;
}

.voucher-details {
    display: flex;
    align-items: center;
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.9em;
    margin-left: 5px;
}

.badge.light {
    background-color: white;
    color: #F2B8B8;
}

.badge.secondary {
    background-color: #F2B8B8;
    color: black;
}

.voucher-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.voucher-info {
    display: flex;
    flex-direction: column;
}

.voucher-info h3 {
    display: flex;
    align-items: center;
    font-size: 1em;
    margin: 0;
}

.voucher-info h3 ion-icon {
    margin-right: 8px;
    color: #E75C69;
}

.voucher-info p {
    margin: 0;
    font-size: 0.9em;
}

.collected-button {
    --background: #E75C69;
    color: white;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 0.8em;
}
