<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="shop" href="/tabs/shop">
      <ion-icon aria-hidden="true" name="storefront-outline"></ion-icon>
      <ion-label>Shop</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="chat" href="/tabs/chat">
      <ion-icon aria-hidden="true" name="chatbox-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order" href="/tabs/order">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
