<ion-content class="ion-padding">
  <div class="modal-header">
    <ion-label>
      <h2>Share</h2>
    </ion-label>
  </div>
  <ion-list>
    <ion-item button (click)="share('whatsapp')">
      <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
      <ion-label>WhatsApp</ion-label>
    </ion-item>
    <ion-item button (click)="share('facebook')">
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      <ion-label>Facebook</ion-label>
    </ion-item>
    <ion-item button (click)="share('twitter')">
      <ion-icon slot="start" name="logo-twitter"></ion-icon>
      <ion-label>Twitter</ion-label>
    </ion-item>
    <ion-item button (click)="share('instagram')">
      <ion-icon slot="start" name="logo-instagram"></ion-icon>
      <ion-label>Instagram</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
