<ion-content>
  <div class="container">
    <img src="assets/images/bg/password-recovery.png" class="background-image" alt="" />
    <div class="profile-pic">
      <img src="assets/images/profile/avatar-1.jpeg" alt="Profile Picture">
    </div>
    <h2>Password Recovery</h2>
    <p>How would you like to restore your password?</p>
    <ion-list>
      <ion-radio-group [(ngModel)]="selectedOption">
        <ion-item lines="none" class="custom-item" [class.selected]="selectedOption === 'whatsapp'" (click)="selectOption('whatsapp')">
          <ion-label>
            <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
            Whatsapp
          </ion-label>
          <ion-radio slot="end" value="whatsapp"></ion-radio>
        </ion-item>
        <ion-item lines="none" class="custom-item" [class.selected]="selectedOption === 'email'" (click)="selectOption('email')">
          <ion-label>
            <ion-icon name="mail" slot="start"></ion-icon>
            Email
          </ion-label>
          <ion-radio slot="end" value="email"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <div class="button-group">
      <ion-button expand="block" color="primary" (click)="next()">Next</ion-button>
      <div class="cancel-link">
        <a href="password">Cancel</a>
      </div>
    </div>
  </div>
</ion-content>
