<ion-content fullscreen="true" class="ion-padding verify-content">
  <ion-img src="{{ image }}"></ion-img>
  <div class="verify-container">
    <div class="verify-header">
      <ion-title>Verify Email</ion-title>
      <p>Enter your personal details to create account</p>
    </div>
    <form>
      <div class="verify-form">
        <ion-label class="otp-label">Enter OTP</ion-label>
        <div class="verify-inputs">
          <ion-input class="input" type="text" placeholder="00"></ion-input>
          <ion-input class="input" type="text" placeholder="00"></ion-input>
          <ion-input class="input" type="text" placeholder="00"></ion-input>
        </div>
        <ion-button expand="block" class="primary">SEND</ion-button>
      </div>
    </form>
  </div>
</ion-content>
