<ion-content>
  <div class="password-container">
    <div class="header">
      <div class="profile-pic" *ngIf="profilePicture">
        <img [src]="profilePicture" alt="Profile Picture" />
      </div>
      <h1>Hello, {{ userName || email }}!</h1> <!-- Default to userEmail if userName is not available -->
    </div>
    <div class="input-container">
      <p>Type your password</p>
      <ion-input
        type="password"
        maxlength="8"
        [(ngModel)]="password"
        class="password-box"
        (ionInput)="onInput($event)"
        [disabled]="attempts >= maxAttempts && countdown > 0"
      ></ion-input>
      <div *ngIf="isError && !password" class="error-message">
        <p>Password is required.</p>
      </div>
    </div>
    <div class="progress-bar-container">
      <div class="progress-bar" [ngClass]="{ error: isError }" [style.width.%]="progress"></div>
    </div>
    <div *ngIf="isError && attempts < maxAttempts" class="forgot-password">
      <a [routerLink]="['/reset-password']">
        <p>
          Forgot password?
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </p>
      </a>
    </div>
  </div>
  <app-splash-screen
    *ngIf="showModal"
    [attempts]="attempts"
    [maxAttempts]="maxAttempts"
    [countdown]="countdown"
    (close)="closeModal()"
  ></app-splash-screen>
</ion-content>
