<ion-content>
  <div class="top-bar" lines="none">
    <ion-grid>
      <ion-row class="bar">
        <ion-col size="2">
          <h1>Shop</h1>
        </ion-col>
        <ion-col size="7">
          <ion-searchbar placeholder="Search"></ion-searchbar>
        </ion-col>
        <ion-col size="1">
          <ion-button (click)="filterProducts('all')">
            <ion-icon slot="icon-only" name="funnel-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1">
          <ion-button (click)="goToNotifications()">
            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <div class="collection-section">
          <swiper-container pager="true">
            <swiper-slide *ngFor="let image of collectionImages">
              <ion-card class="collection-card" [style.backgroundImage]="'url(' + image.imageUrl + ')'">
                <div class="collection-slide">
                  <div class="text-content">
                    <h3>{{ image.title }}</h3>
                    <p>{{ image.subtitle }}</p>
                    <div class="collection-overlay">
                      <ion-button>Shop Now</ion-button>
                    </div>
                  </div>
                </div>
              </ion-card>
            </swiper-slide>
          </swiper-container>
        </div>
      </ion-row>
    </ion-grid>
  </div>

  <div class="categories">
    <ion-row>
      <ion-col size="8">
        <h2>Categories</h2>
      </ion-col>
      <ion-col size="4" class="see-all" text-right>
        <ion-button fill="clear" (click)="openAllCategories()">
          <span>See All</span>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-slides class="categories-container" [options]="slideOpts">
      <ion-slide *ngFor="let category of categories" (click)="filterProducts(category.label)">
        <div class="category">
          <div class="category-circle">
            <ion-icon [name]="category.icon"></ion-icon>
          </div>
          <p>{{ category.label }}</p>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-grid class="products">
    <h2>Just For You <ion-icon name="star"></ion-icon></h2>
    <ion-row>
      <ion-col size="6" *ngFor="let product of filteredProducts">
        <ion-card (click)="goToProductDetail(product.id)">
          <div class="image">
            <ion-card>
              <div class="discount-badge">{{ product.discount }}%</div>
              <ion-img [src]="product.imageUrl" [alt]="product.title" />
              <div class="card-actions">
                <ion-button fill="clear">
                  <ion-icon name="heart-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear">
                  <ion-icon name="cart-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear">
                  <ion-icon name="share-social-outline"></ion-icon>
                </ion-button>
              </div>
            </ion-card>
          </div>
          <ion-card-header>
            <ion-row>
              <ion-col size="8"><ion-card-subtitle>{{ product.category }}</ion-card-subtitle></ion-col>
              <ion-col size="4" class="rating"><ion-icon name="star" *ngFor="let star of getStars(product.rating)"></ion-icon></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12"><ion-card-title>{{ product.title }}</ion-card-title></ion-col>
            </ion-row>
            <p class="price">{{ product.price }} <span class="old-price">Rp{{ product.oldPrice }}</span></p>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
